body {
	background: linear-gradient(to right, #000000, #0f9b0f);
  }
  .text {
    color: #ecc41c;
    font-family: Inconsolata, Courier, monospace;
    font-size: 20px;
  }
  #output {
    float: left;
    padding-left: 20%;
  }
  #score {
    padding-left: 55%;
  }
  #instructions {
	padding-left: 55%;
    font-size: small;
    line-height: 110%;
  }
  a:link {
    color: inherit;
  }